<div class="mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{course.name}}</h1>
            <p>{{course.description}}</p>
            <h2>Bạn sẽ học được gì</h2>
            <h2>Nội dung khóa học</h2>
        </div>

        <div class="col-lg-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <button>Đăng ký học</button>
        </div>
    </div>
</div>